# delphi
__recovery/
__history/
Win32/
Floodpipe.dproj.local
Floodpipe.identcache

# documentation filter
Floodpipe/documentation/latex/documentation.aux
Floodpipe/documentation/latex/documentation.fdb_latexmk
Floodpipe/documentation/latex/documentation.fls
Floodpipe/documentation/latex/documentation.log
Floodpipe/documentation/latex/documentation.pdf
Floodpipe/documentation/latex/documentation.synctex.gz
Floodpipe/documentation/latex/documentation.toc